In [2]:
import os
import datetime
import pandas as pd
from tqdm import tqdm
from pyarrow import csv

# 사용자 정의
import bus

In [3]:
start_date = datetime.datetime(2019, 6, 1)
end_date = datetime.datetime(2019, 8, 29)

input_path_list = bus.make_input_path(start_date, end_date)

usage_df = bus.load_total_usage_data(input_path_list)

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 89/89 [04:27<00:00,  3.01s/it]

NameError: name 'data_preprocessing' is not defined

In [4]:
usage_df.isnull().describe()

,user_id,base_date,route_id,route_name,route_no,geton_datetime,geton_station_id,geton_stataion_name,geton_station_longitude,geton_station_latitude,getoff_datetime,getoff_station_id,getoff_station_name,getoff_station_longitude,getoff_station_latitude,user_type,user_count,input_date,tourist
count,12291789,12291789,12291789,12291789,12291789,12291789,12291789,12291789,12291789,12291789,12291789,12291789,12291789,12291789,12291789,12291789,12291789,12291789,12291789
unique,1,1,1,1,1,1,1,2,2,2,2,2,2,2,2,1,1,1,1
top,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
freq,12291789,12291789,12291789,12291789,12291789,12291789,12291789,12291596,12290846,12291572,7903385,7903385,7899621,7899611,7899611,12291789,12291789,12291789,12291789