In [36]:
from sklearn.cluster import DBSCAN
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime
from tqdm import tqdm
import folium

In [78]:
STATION_ID = 'STATION_ID'
STATION_NM = 'STATION_NM'
CENTER_YN = 'CENTER_YN'
LOCAL_X = 'LOCAL_X'
LOCAL_Y = 'LOCAL_Y'
USE_YN = 'USE_YN'
STATION_ADDR = 'STATION_ADDR'

USAGE = "USAGE"

In [104]:
# df = pd.read_csv("station_final.csv", encoding="CP949")
def visualization_station_usage(df):
    center_lati = df[LOCAL_Y].mean()
    center_longi = df[LOCAL_X].mean()
    m = folium.Map([center_lati,center_longi],zoom_start=11)
    for i, low in df.iterrows():
        if low[USAGE] < 1000:
            continue
        lati = float(low[LOCAL_Y])
        longi = float(low[LOCAL_X])
        title = str(low[STATION_NM])
        color = 'green'
        folium.CircleMarker([lati, longi],color=color,radius = 3, fill = True, fill_opacity = 0.3, opacity = 0).add_to(m)
    # folium.CircleMarker([center_lati, center_longi],color="red",radius = 10).add_to(m)
    m.save('example.html')
    m

usage_df = pd.read_csv("station_total_usage_190601_190829.csv", encoding="CP949")
jeju_df = pd.read_csv("jeju_city_clustered.csv", encoding="CP949")
seogwipo_df = pd.read_csv("jeju_city_clustered.csv", encoding="CP949")
jeju_df

,STATION_ID,STATION_NM,LOCAL_X,LOCAL_Y,target,level,level-target
0,405000158,용천마을,126.519950,33.501547,106,1,1&106
1,405000171,탐라장애인 종합복지관,126.525833,33.500017,0,1,1&0
2,405000173,남서광마을,126.523759,33.499789,0,1,1&0
3,405000202,신사동,126.675754,33.534836,1,1,1&1
4,405000203,신사동,126.675601,33.534663,1,1,1&1
...,...,...,...,...,...,...,...
2173,405002309,송당리 사무소,126.782267,33.471674,-1,4,4&-1
2174,405002315,백약이오름,126.794258,33.441377,-1,4,4&-1
2175,405002348,신흥리 포구,126.650802,33.548741,-1,4,4&-1
2176,405002155,제주소방서,126.535808,33.491664,-1,4,4&-1
2177,405002380,물메초등학교,126.392467,33.466544,-1,4,4&-1